body {
    font-family: Arial, san-serif;
}

ul {
    line-height: 2;
    margin: 0px;
}

table {
    width: 100%;
}

.fixed-layout {
    table-layout: fixed;
}

th, td {
    border-right: 1px solid white;
    text-align: left;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

table, th {
    border-bottom: 2px solid white;
    border-collapse: collapse;
}

.code-view {
    line-height: 1.75;
    padding: 0px 44px;
    font-size: 13px;
}

td {
    border-bottom: 1px solid white;
    border-collapse: collapse;
}

td:empty::after{
    content: "\00a0";
}

.title {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.report-view {
    min-width: 768px;
    margin: 0 auto;
}

.blank {
    min-height: 11px;
}

.content {
    margin: 6px;
}

.bg-dark {
    background-color: #5c5c95;
    font-weight: bold;
    color: white;
}

.bg-medium {
    background-color: #9494c6;
}

.bg-light {
    background-color: #e2e2ee;
}

.bg-red {
    background-color: #ffcfce;
}

.bg-green {
    background-color: #ceffce;
}

.bg-yellow {
    background-color: #ffffce;
}

.row {
    border-bottom: 1px solid white;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.mt {
    margin-top: 6px;
}

.mb {
    margin-bottom: 6px;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}